<ion-header class="ion-no-border">
  <ion-toolbar>
    
        <ion-buttons slot="start">
            <ion-back-button  defaultHref="/main/tabs/informacion"></ion-back-button>
          </ion-buttons>
          
          <ion-title class="ion-text-center">Tutoriales</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <ion-col>

          <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('1')">
            <ion-grid>
            <ion-row>
              <ion-col >
                <ion-icon name="play-outline"></ion-icon>
          
           </ion-col>
           <ion-col></ion-col>
            </ion-row>
              <ion-row>
                <ion-col></ion-col>
                <ion-col  offset="-9">
  
                    <p class="nombreTarjeta">Pantalla de inicio</p>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

      </ion-col>

      <ion-col>

      
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('1.1')"  >
          <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Editar datos</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('1.2')"  >
          <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Modificar foto</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col>

      
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('1.3')"  >
          <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Cambio de contraseña</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    
    </ion-row>
    <ion-row>
      <ion-col>

          <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('1.4')"  >
            <ion-grid>
            <ion-row>
              <ion-col >
                <ion-icon name="play-outline"></ion-icon>
          
           </ion-col>
           <ion-col></ion-col>
            </ion-row>
              <ion-row>
                <ion-col></ion-col>
                <ion-col  offset="-9">
  
                    <p class="nombreTarjeta">Activar notificaciones</p>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

      </ion-col>

      <ion-col>

      
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('1.5')"  >
          <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Cambio de idioma</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('1.6')"  >
            <ion-grid>
            <ion-row>
              <ion-col >
                <ion-icon name="play-outline"></ion-icon>
          
           </ion-col>
           <ion-col></ion-col>
            </ion-row>
              <ion-row>
                <ion-col></ion-col>
                <ion-col  offset="-9">
  
                    <p class="nombreTarjeta">Cambio de licencia</p>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

      </ion-col>

      <ion-col>

      
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('2.1')"  >
          <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Botón todo en uno</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('2.2')"  >
            <ion-grid>
            <ion-row>
              <ion-col >
                <ion-icon name="play-outline"></ion-icon>
          
           </ion-col>
           <ion-col></ion-col>
            </ion-row>
              <ion-row>
                <ion-col></ion-col>
                <ion-col  offset="-9">
  
                    <p class="nombreTarjeta">Añadir grupo</p>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

      </ion-col>

      <ion-col>

      
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('2.3')"  >
          <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Añadir clase</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('2.4')"  >
            <ion-grid>
            <ion-row>
              <ion-col >
                <ion-icon name="play-outline"></ion-icon>
          
           </ion-col>
           <ion-col></ion-col>
            </ion-row>
              <ion-row>
                <ion-col></ion-col>
                <ion-col  offset="-9">
  
                    <p class="nombreTarjeta">Añadir planificación</p>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

      </ion-col>

      <ion-col>

      
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('2.5')"  >
          <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Añadir ejercicio</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('3.2.1')"  >
            <ion-grid>
            <ion-row>
              <ion-col >
                <ion-icon name="play-outline"></ion-icon>
          
           </ion-col>
           <ion-col></ion-col>
            </ion-row>
              <ion-row>
                <ion-col></ion-col>
                <ion-col  offset="-9">
  
                    <p class="nombreTarjeta">Crear grupo de ejercicios</p>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

      </ion-col>

      <ion-col>

      
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('3.2.2')"  >
          <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Organizar grupo de ejercicios</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('3.3.1')"  >
            <ion-grid>
            <ion-row>
              <ion-col >
                <ion-icon name="play-outline"></ion-icon>
          
           </ion-col>
           <ion-col></ion-col>
            </ion-row>
              <ion-row>
                <ion-col></ion-col>
                <ion-col  offset="-9">
  
                    <p class="nombreTarjeta">Crear grupo</p>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

      </ion-col>

      <ion-col>

      
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('3.3.2')"  >
          <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Incluir alumnos en grupo</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('3.4.1')"  >
            <ion-grid>
            <ion-row>
              <ion-col >
                <ion-icon name="play-outline"></ion-icon>
          
           </ion-col>
           <ion-col></ion-col>
            </ion-row>
              <ion-row>
                <ion-col></ion-col>
                <ion-col  offset="-9">
  
                    <p class="nombreTarjeta">Evaluaciones</p>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

      </ion-col>

      <ion-col>

      
        <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('3.4.3')"  >
          <ion-grid>
          <ion-row>
            <ion-col >
              <ion-icon name="play-outline"></ion-icon>
         </ion-col>
         <ion-col></ion-col>
          </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col offset="-9">
                  <p class="nombreTarjeta">Crear ausencias</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-col>
    
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-card class ="tarjetaAlumno" (click)="mostrarVideo('3.4.4')"  >
            <ion-grid>
            <ion-row>
              <ion-col >
                <ion-icon name="play-outline"></ion-icon>
          
           </ion-col>
           <ion-col></ion-col>
            </ion-row>
              <ion-row>
                <ion-col></ion-col>
                <ion-col  offset="-9">
  
                    <p class="nombreTarjeta">Editar datos</p>
                 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

      </ion-col>

      <ion-col>

      


      </ion-col>
    
    </ion-row>
  </ion-grid>



</ion-content>
