.tarjetaAlumno{
    width: 100%;
}

.item{
    margin:1px auto;
  }
  .titulo{
    text-align: center;
    margin-bottom: 10%;
}
.comiteTitulo{
    font-weight: bolder;
}

.fondoBoton{
    background-color: #fff;
}
  .nombreAlumno{
      margin-top: 2%;
      font-weight: bold;
  }
 .correo{
     font-size: smaller;
 }

  :host{
    background-color: #9fa5374d;
    --offset-top:200px;
}

ion-toolbar{
    --background: transparent;
}


ion-card{
    margin-bottom: 5%;
}


ion-content {
    --background: transparent;

    transform: translate3d(0,0,0);
    transition: 0.5s;
    
}

.seleccionEjercicio {
    background-color: #fff;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 20px;
    overflow: scroll;
    padding-bottom: 20px;
}

.no-transform{
    transform: translate3d(0,0,0) !important;
}



h1{
  color: #a0a537;
}

ion-card{
  width: 95%;
}


ion-spinner{
    margin-top: 50%;
    zoom:300%
}