<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/tabs/usuario"></ion-back-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="licencia">
   
    <ion-card-header>
      <ion-card-subtitle >Licencia tipo</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Profesor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esta licencia te permite:</p>
      <p>Beneficio</p>
      <p>Beneficio</p>
      <p>Beneficio</p>
      <p>Beneficio</p>
      <p>Beneficio</p>
      <p>Beneficio</p>
      <p>Beneficio</p>
      <p>Beneficio</p>
      <br>
      <p>Caduca el:</p>

    </ion-card-content>
  </ion-card>
  <br>
  <ion-card class="ion-text-center tarjetaFalta">
    <ion-grid>
      <ion-row>
        <ion-card-content>
        <ion-col>
          Cambiar licencia
        </ion-col>
        <ion-col>
        
          <ion-icon style="zoom: 150%; float: right;" color="primary" name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-card-content>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>