.tarjetaEjercicio{
   
}

.item{
    margin:1px auto;
  }

  .nombreGrupo{
      margin-top: 2%;
      font-weight: bold;
  }
 .detalles{
     font-size: smaller;
 }

 .iconoGrupo{
    zoom: 400%;
    color: #a0a537;
    margin-left: 15%;
}

ion-title{
    margin-top: 3%;
    margin-bottom: 3%;
    color: #3e4208;
}

ion-spinner{
    margin-top: 50%;
    zoom:300%
}

