.titulo{
    text-align: center;
    margin-bottom: 10%;
}
.comiteTitulo{
    font-weight: bolder;
}

.nombrePlanificacion{
    margin-top: -10%;
}
.detalles{
   font-size: smaller;
}

.iconoGrupo{
  zoom: 400%;
  color: #a0a537;
  margin-left: 15%;
}

.item{
    margin:1px auto;
  }

  :host{
    background-color: #9fa5374d;
    --offset-top:200px;
}

ion-toolbar{
    --background: transparent;
}



ion-content {
    --background: transparent;

    transform: translate3d(0,0,0);
    transition: 0.5s;
    
}

.seleccionDetalle {
    background-color: #fff;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 20px;
    overflow: scroll;
    padding-bottom: 20px;
}

.fondoBotones{
    background-color: #fff;
}

.no-transform{
    transform: translate3d(0,0,0) !important;
}