<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="paginaAnterior === 'semana'" style="display: block;" defaultHref="/main/tabs/semana"></ion-back-button>
      <ion-back-button *ngIf="paginaAnterior === 'ejercicios'" style="display: block;" defaultHref="/main/tabs/ejercicios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="titulo">
    <p class="comiteTitulo">Ejercicio </p>

    <p class="nombreAlumno" *ngIf="!cargando">{{ejercicio.nombre}}</p>
  </div>
  <div class="seleccionDetalle" *ngIf="!cargando" >

    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title style="font-size: 100%; font-weight: 500;">Descripción</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ejercicio.descripcion}}
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
    <ion-button class="botonCrear" (click)="goToAnimacion()"  shape="round">
      Animacion
    </ion-button>
  </ion-col>
</ion-row>
</ion-grid>
  
</div>

</ion-content>