

.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;

}

.logo{
    width: 200px;
}

.passwordOlvidada{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}

.loginGoogle{
    margin-top: 25%;
}

.loginFacebook{
    margin-top: 5%;
}

