.tarjetaClase{
  width: 100%;
}

.tarjetaCalendario{
  background-color: #9fa5374d;
}

.iconoReloj{
  width: 200px;
 margin-left: 90%; 

}

.circulo {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  background: var(--color);
  zoom: 60%;


}

ion-title{
  margin-top: 3%;
  margin-bottom: 3%;
  color: #3e4208;
}






::ng-deep {

  .dayview-allday {
  
    
}
  .calendar-hour-column{
  
  }
}
