.titulo{
    text-align: center;
    margin-bottom: 10%;

}
.nombre{
    font-size: smaller;
 color: #a0a537;
    margin-bottom: -15px;
}

.nombreGolpe{
font-size: 110%;
 color: #a0a537;
    
}

.valor{
    font-weight:lighter
}