  <ion-content class="ion-padding">
    <div class="titulo">
      <p class="nombreGolpe"> Puntuación</p>
      <p class="valor">{{detalle.puntuacion}}</p>
    </div>
    <div class="titulo">
      <p class="nombre"> Preparación </p>
      <p class="valor">{{detalle.preparacion}}</p>
    </div>
    <div class="titulo">
      <p class="nombre"> Punto de impacto </p>
      <p class="valor">{{detalle.puntoImpacto}}</p>
    </div>
    <div class="titulo">
      <p class="nombre"> Coordinación de pies </p>
      <p class="valor">{{detalle.coordPies}}</p>
    </div>
    <div class="titulo">
      <p class="nombre"> Terminación </p>
      <p class="valor">{{detalle.terminacion}}</p>
    </div>
  </ion-content>

