<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input placeholder="Escribe la nueva contraseña" name="password" type="password" [(ngModel)]="password"
    required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Repite contraseña</ion-label>
  <ion-input placeholder="Escribe la nueva contraseña de nuevo"name="password2" type="password" [(ngModel)]="password2" required></ion-input>
</ion-item>

<br>
<br>
<ion-button class="botonCrear" (click)="actualizaPass()" shape="round" size="small">
  Actualizar contraseña
</ion-button>


