.tarjetaClase{
    width: 100%;
  }


  .tarjetaClasePuntua{
    width: 90%;
  }
  ion-title{
    margin-top: 3%;
    margin-bottom: 3%;
    color: #3e4208;
}

.iconoSinClase{

margin-left: 45%;
margin-top: 5%;
  left: 50%;


  zoom: 350%;
    color: #a0a537;
}

ion-spinner{
  margin-top: 50%;
  zoom:300%
}

ion-content{
  margin-bottom: 35%;
}
