:host{
    background-color: #9fa5374d;
    --offset-top:200px;
}

ion-toolbar{
    --background: transparent;
}

.titulo{
    text-align: center;
    margin-bottom: 10%;
}

.comiteTitulo{
    font-weight: bolder;
}

ion-card{
    margin-bottom: 5%;
}


ion-content {
    --background: transparent;

    transform: translate3d(0,0,0);
    transition: 0.5s;
    
}

.seleccionComite {
    background-color: #fff;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 20px;
    overflow: scroll;
   // padding-bottom: 50px;
}

.no-transform{
    transform: translate3d(0,0,0) !important;
}