

.item{
    margin:1px auto;
  }

  .nombreTarjeta{
      font-size: small;
  }
  .nombreTarjeta{
    margin-top: -10%;
  }
 .correo{
     font-size: smaller;
 }

 ion-icon{
     color:#a0a537;;
    // width: 100% !important;
   //  height: 100% !important;
 }

 ion-title{
    margin-top: 3%;
    margin-bottom: 3%;
    color: #3e4208;
}