<ion-header class="ion-no-border">
  <ion-toolbar>
    
        <ion-buttons slot="start">
            <ion-back-button  defaultHref="main/tabs/miLugar"></ion-back-button>
          </ion-buttons>
          <ion-buttons slot="primary">
            <ion-button (click)="mostrarAddPlanificacion()">
              <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
    
          <ion-title mode="ios" class="ion-text-center">Planificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar" [(ngModel)]="terminoBusqueda" showCancelButton="focus"
    cancel-button-text="Cancelar" animated></ion-searchbar>

    <ion-grid>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let planificacion of planificaciones | filter:terminoBusqueda" 
           #planificacionesAnimacion>
          
       <ion-card 
       [ngClass]="{'animate__animated ': planificacion.animaTarjeta , 'animate__jello': planificacion.animaTarjeta }"
       [ngStyle]="{'background-color':planificacion.colorTarjeta}" 
       (press)="onPress($event, planificacion)"
       (pressup)="onPressUp($event,planificacion)"
       (click)="clickTarjeta(planificacion)"
      >
     <!--   <ion-card cdkDrag [cdkDragStartDelay]="0"  (cdkDragEnded)="drop($event)"  > -->  
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-icon color="primary" name="document-text-outline"></ion-icon>
             </ion-col>
             <ion-col></ion-col>
              </ion-row>
                <ion-row>
                  <ion-col></ion-col>
                  <ion-col offset="-9">
                      <p class="nombrePlanificacion">{{planificacion.nombre}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card>

        </ion-col>
      </ion-row>
    
  
    </ion-grid>




<!--
   
  <ion-list lines="none">
   
    <ion-item-sliding button *ngFor="let planificacion of planificaciones | filter:terminoBusqueda">
      <ion-item  (click)="goToPlanificacion(planificacion.id)" >
        <ion-card class ="tarjetaPlanificacion">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-avatar item-start><ion-icon class="iconoGrupo" name="document-text-outline"></ion-icon>
                </ion-avatar>
              </ion-col>
              <ion-col>
                  <p class="nombreGrupo">{{planificacion.nombre}}</p>
                  <p class="detalles">{{planificacion.detalles}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </ion-item>
      <ion-item-options side="end">

        <ion-item-option color=transparent (click)="eliminarPlanificacion(planificacion)">
          <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
        </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>


  </ion-list>
-->



</ion-content>
<ion-button *ngIf="seleccionaEliminar && eliminados.length===1" class="animate__animated animate__fadeIn"
color="primary" (click)="mostrarAddPlanificacion()" expand="block" shape="round">
<ion-icon name="pencil-outline"></ion-icon>Editar planificación
</ion-button>
<ion-button *ngIf="seleccionaEliminar" class="animate__animated animate__fadeIn"
color="danger" (click)="eliminarPlanificaciones()" expand="block" shape="round">
<ion-icon name="trash-outline"></ion-icon>Eliminar planificaciones
</ion-button>