<ion-header>

</ion-header>

<ion-content>
  <div  id="PrintInvoice" *ngIf="cargando">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./comite-pdf.page.css">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <section>
    <div>
      <div class="list_index">
       <img src="/assets/pdf/comite/Info.png">
      </div>
      <div class="list_titles">
        <h2>DETALLES TECNICOS EN PISTA</h2>
        <h2>FER ANTOGNINI</h2>
      </div>
    </div>
    <h5>Entrenador: <span class="entrenador">Fernando</span></h5>
    <div class="tabela com_cor">
    <table>
    <tr>
      <Td>GOLPE</Td>
      <td>PREPARACION</td>
      <Td>PUNTO DE IMPACTO</Td>
      <Td>COORDINACION DE PIES</Td>
      <td>TERMINACION</td>
    </tr>
    <tr>
      <td>DERECHA</td>
      <td>Larga</td>
      <td>Con Bucle</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
    </tr>
    <tr>
      <td>VOLEA DE ACOMPANIAMENTO</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
    </tr>
    <tr>
      <td>SOMETHING</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
    </tr>
    <tr>
      <td>SOMETHING</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
    </tr>
  </table>
</div>
  </section>
  <section>
    <div>
      <div class="list_index">
       <img src="/assets/pdf/comite/Smiley.png">
      </div>
      <div class="list_titles">
        <h2>DETALLES DEL COMPORTAMIENTO EN PISTA</h2>
        <h2>FER ANTOGNINI</h2>
      </div>
    </div>
    <h5>Entrenador: <span class="entrenador">Fernando</span></h5>
    <div class="tabela com_cor">
    <table>
    <tr>
      <Td>GOLPE</Td>
      <td>PREPARACION</td>
      <Td>PUNTO DE IMPACTO</Td>
      <Td>COORDINACION DE PIES</Td>
      <td>TERMINACION</td>
    </tr>
    <tr>
      <td>DERECHA</td>
      <td>Larga</td>
      <td>Con Bucle</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
    </tr>
    <tr>
      <td>VOLEA DE ACOMPANIAMENTO</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
    </tr>
    <tr>
      <td>SOMETHING</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
    </tr>
    <tr>
      <td>SOMETHING</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
      <td>Faucibus fames laoreet ante fringilla eu.</td>
    </tr>
  </table>
</div>
  </section>
  <section>
    <div>
      <div class="list_index">

       <img src="/assets/pdf/comite/CircleWavyCheck.png">
      </div>
      <div class="list_titles">
        <h2>MEJORAS DEL ALUNO</h2>
        <h2>FER ANTOGNINI</h2>
      </div>
    </div>
    <h5>Entrenador: <span class="entrenador">Fernando</span></h5>
    <div class="tabela">
    <table>
    <tr>
      <Td>Mensuales</Td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
    </tr>
    <tr>
      <td>Trimestrales</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
    </tr>
  </table>
</div>
  </section>
  <section>
    <div>
      <div class="list_index">
       <img src="/assets/pdf/comite/ChatCircleDots.png">
      </div>
      <div class="list_titles">
        <h2>OPINIONES</h2>
        <h2>FER ANTOGNINI</h2>
      </div>
    </div>
    <h5>Entrenador: <span class="entrenador">Fernando</span></h5>
    <div class="tabela">
    <table>
    <tr>
      <Td>Tutor</Td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
    </tr>
    <tr>
      <td>Entrenador</td>
      <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
    </tr>
  </table>
</div>
  </section>
</div>

<ion-button (click)="descarga()">
  Descarga
</ion-button>
</ion-content>












<!--

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./comite-pdf.page.scss">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  <title>Aula Padel</title>
</head>
<body>
  <header>
    <img src="/assets/pdf/comite/header_padel.png" alt="">
  </header>
  <main>
    <section>
      <div>
        <div class="list_index">
         <img src="/assets/pdf/comite/Info.png">
        </div>
        <div class="list_titles">
          <h2>DETALLES TECNICOS EN PISTA</h2>
          <h2>FER ANTOGNINI</h2>
        </div>
      </div>
      <h5>Entrenador: <span class="entrenador">Fernando</span></h5>
      <div class="tabela com_cor">
      <table>
      <tr>
        <Td>GOLPE</Td>
        <td>PREPARACION</td>
        <Td>PUNTO DE IMPACTO</Td>
        <Td>COORDINACION DE PIES</Td>
        <td>TERMINACION</td>
      </tr>
      <tr>
        <td>DERECHA</td>
        <td>Larga</td>
        <td>Con Bucle</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
      </tr>
      <tr>
        <td>VOLEA DE ACOMPANIAMENTO</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
      </tr>
      <tr>
        <td>SOMETHING</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
      </tr>
      <tr>
        <td>SOMETHING</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
      </tr>
    </table>
  </div>
    </section>
    <section>
      <div>
        <div class="list_index">
         <img src="/assets/pdf/comite/Smiley.png">
        </div>
        <div class="list_titles">
          <h2>DETALLES DEL COMPORTAMIENTO EN PISTA</h2>
          <h2>FER ANTOGNINI</h2>
        </div>
      </div>
      <h5>Entrenador: <span class="entrenador">Fernando</span></h5>
      <div class="tabela com_cor">
      <table>
      <tr>
        <Td>GOLPE</Td>
        <td>PREPARACION</td>
        <Td>PUNTO DE IMPACTO</Td>
        <Td>COORDINACION DE PIES</Td>
        <td>TERMINACION</td>
      </tr>
      <tr>
        <td>DERECHA</td>
        <td>Larga</td>
        <td>Con Bucle</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
      </tr>
      <tr>
        <td>VOLEA DE ACOMPANIAMENTO</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
      </tr>
      <tr>
        <td>SOMETHING</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
      </tr>
      <tr>
        <td>SOMETHING</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
        <td>Faucibus fames laoreet ante fringilla eu.</td>
      </tr>
    </table>
  </div>
    </section>
    <section>
      <div>
        <div class="list_index">
  
         <img src="/assets/pdf/comite/CircleWavyCheck.png">
        </div>
        <div class="list_titles">
          <h2>MEJORAS DEL ALUNO</h2>
          <h2>FER ANTOGNINI</h2>
        </div>
      </div>
      <h5>Entrenador: <span class="entrenador">Fernando</span></h5>
      <div class="tabela">
      <table>
      <tr>
        <Td>Mensuales</Td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      </tr>
      <tr>
        <td>Trimestrales</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      </tr>
    </table>
  </div>
    </section>
    <section>
      <div>
        <div class="list_index">
         <img src="/assets/pdf/comite/ChatCircleDots.png">
        </div>
        <div class="list_titles">
          <h2>OPINIONES</h2>
          <h2>FER ANTOGNINI</h2>
        </div>
      </div>
      <h5>Entrenador: <span class="entrenador">Fernando</span></h5>
      <div class="tabela">
      <table>
      <tr>
        <Td>Tutor</Td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      </tr>
      <tr>
        <td>Entrenador</td>
        <td>Faucibus fames laoreet ante fringilla eu. Ut nunc, posuere diam tortor morbi vestibulum.</td>
      </tr>
    </table>
  </div>
    </section>
  </main>
  <footer>
    Página 1 de 1
  </footer>
</body>
</html>
-->