<ion-list>
  <ion-radio-group value="esp">
    <ion-list-header>
      <ion-label>Selecciona un idioma</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Español</ion-label>
      <ion-radio slot="start" value="esp"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Inglés</ion-label>
      <ion-radio slot="start" value="eng"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Portugués</ion-label>
      <ion-radio slot="start" value="por"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>